/* 
1.Global
2.Login-section
3.Responsive
4.Css For Use JavaScript
*/

/* ---------------------------------- 1.Global --------------------------------- */

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-shadow: none;
	border: none;
	text-decoration: none;
}
@font-face {
	font-family: vazir-light;
	src: url(fonts/Vazir-Light.woff2) format(woff2);
}
@font-face {
	font-family: vazir-medium;
	src: url(fonts/Vazir-Medium.woff2) format(woff2);
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
body {
	font-family: "vazir-medium";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	overflow: hidden;
	background: url(images/body.png);
	background-size: cover;
}
/* ---------------------------------- 2.Login Section --------------------------------- */

.login-section {
	display: grid;
	grid-template-columns: 400px 400px;
	grid-template-rows: 550px;
	max-width: 100vw;
	background-color: #131619;
	border-radius: 24px;
	overflow: hidden;
	animation: fadeIn 2s;
}
.login-section .content-form {
	grid-column: 1 / 2;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 50px 450px 50px;
	background: #131619;
}
.login-section .form-picture {
	grid-column: 2 / 3;
}
.login-section .form-picture img {
	max-width: 100%;
	min-height: 100%;
}
.login-section .content-form .logo {
	grid-column: 1/4;
}
.login-section .content-form .logo a>img {
	margin: 20px 20px 0 0;
	width: 20px;
}
.login-section .content-form .content-main {
	grid-column: 2/3;
	align-self: center;
}
.login-section .content-form .content-main .heading h3 {
	font-size: 1.25rem;
	color: rgb(255, 255, 255);
	margin: 0 0 20px 0;
}
.login-section .content-form .content-main .heading p {
	color: #9b9c9e;
}
.login-section .content-form .content-main .heading h3 span,
.login-section .content-form .content-main form .form-remember .forget-info a,
.login-section .content-form .signup a {
	background: -webkit-linear-gradient( 45deg, #4d62e5 0%, #87ddee 45.31%, #b6f09c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.login-section .content-form .content-main form {
	margin: 20px 0 0;
}
.login-section .content-form .content-main form .form-input {
	position: relative;
	margin: 0 0 20px 0;
}
.login-section .content-form .content-main form .form-input img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	width: 17px;
	margin: auto;
}
.login-section .content-form .content-main form .form-input input {
	width: 100%;
	font-size: 0.9rem;
	padding: 10px 40px 10px 0;
	border-radius: 8px;
	color: #fff;
	background: #1a1d21;
	border: 1px solid #363a3d;
	box-sizing: border-box;
}
.login-section .content-form .content-main form input::placeholder {
	font-size: 0.8rem;
	color: #9b9c9e;
	font-family: "vazir-light";
}
.form-remember {
	display: flex;
	justify-content: space-between;
}
.login-section .content-form .content-main form .form-remember {
	font-size: 0.9rem;
}
.login-section .content-form .content-main form .form-remember .save-info input[type="checkbox"],
.login-section .content-form .content-main form .social-login .account-item img {
	vertical-align: middle;
	margin-left: 5px;
}
.login-section .content-form .content-main form .form-remember .save-info label {
	color: #9b9c9e;
	font-family: "vazir-light";
}
.login-section .content-form .content-main form .form-remember .forget-info a {
	font-family: "vazir-medium";
}
.login-section .content-form .content-main form input[type="submit"] {
	font-family: "vazir-medium";
	width: 100%;
	border-radius: 12px;
	background: rgb(182, 240, 156);
	margin: 20px 0;
	padding: 11px 0;
}
.login-section .content-form .content-main form .form-divider {
	font-size: 0.75rem;
	position: relative;
	text-align: center;
	color: #686b6e;
}
.login-section .content-form .content-main form .form-divider::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 1px;
	margin: auto;
	background-color: #363a3d;
}
.login-section .content-form .content-main form .form-divider::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 1px;
	margin: auto;
	background-color: #363a3d;
}
.login-section .content-form .content-main form .social-login {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 0 0;
}
.login-section .content-form .content-main form .social-login .account-item {
	width: 140px;
	height: 37px;
	text-align: center;
	border-radius: 12px;
	background-color: #1a1d21;
	border: 1px solid transparent;
}
.login-section .content-form .content-main form .social-login .account-item a {
	font-size: 0.8rem;
	font-family: "vazir-medium";
	color: #686b6e;
	display: block;
	height: 100%;
	line-height: 38px;
}
.login-section .content-form .content-main form .social-login .account-item:hover {
	border: 1px solid #363a3d;
}
.login-section .content-form .signup {
	grid-column: 1/4;
	margin: auto 20px auto 0;
}
.login-section .content-form .signup p {
	font-size: 0.8rem;
	color: #686b6e;
}
.login-section .content-form .signup a {
	animation: fadeIn 2s infinite;
}
/*------------------------------------- 3.Responsive ------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 992px) {
	.login-section {
		grid-template-columns: 350px 350px;
	}
	.login-section .content-form .content-main form .social-login .account-item {
		width: 120px;
	}
}
@media screen and (min-width: 350px) and (max-width: 768px) {
	.login-section {
		grid-template-columns: 350px;
	}
	.login-section .form-picture {
		display: none;
	}
	.login-section .content-form .content-main form .social-login .account-item {
		width: 120px;
	}
	.login-section .content-form .content-main .heading h3 {
		font-size: 1.1rem;
	}
	.login-section .content-form .content-main .heading p {
		font-size: 0.85rem;
	}
	.login-section .content-form .content-main .heading {
		text-align: center;
	}
}
/* -------------------------------4.Css For Use JavaScript------------------------------------- */

.success {
	box-shadow: inset 0 0 8px 0px rgb(182, 240, 156);
}
.danger {
	box-shadow: inset 0 0 8px 0px rgb(173, 72, 72);
}
.alert-danger {
	font-size: .85rem;
	padding: 5px 0;
	background: rgb(173, 72, 72);
	margin-bottom: 20px;
	color: #fff;
	text-align: center;
	border-radius: 12px;
	margin-bottom: 20px;
}
.loaders-validate,
.loaders-unvalidate {
	display: none;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	border-radius: 12px;
	margin-bottom: 10px;
}
.loaders-validate {
	background: rgb(137, 207, 106);
	;
}
.loaders-unvalidate {
	background: rgb(173, 72, 72);
}
#show-result .spinner {
	width: 100px;
	margin: 0 auto 10px;
	display: none;
}
/* ---------------------------------- End -------------------------------- */